<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeCube.Core" version="2.0.193241" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net472" />
</packages>